@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
  font-family: 'Ubuntu', sans-serif !important;
  background-color: rgb(184, 162, 182);
}
contact-image{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}